@model List<WebApplication1.Models.tv_shows>

@{
    ViewBag.Title = "Index";
}

<h2>Tv Shows Avaliable to Download</h2>


<table class="table">
    <tr>
        <th>
            Title
        </th>
        <th>
            Url
        </th>
        <th>
            Edit
        </th>
   
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
           @item.title
        </td>
      <td>
         @Html.ActionLink("Download","DownloadTvShow", new {url = item.url, title = item.title})
      </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
