@model IEnumerable<WebApplication1.Models.AspNetUser>

@{
    ViewBag.Title = "Index";
}

<h2>User Management</h2>

<p>
    @Html.ActionLink("Create User", "Create", "UserManagement", new { @class="btn btn-primary" })
</p>
<div class="col-lg-12">
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AspNetRoles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <ul>
                        @foreach (var role in item.AspNetRoles)
                        {
                            <li>@role.Name</li>
                        }
                    </ul>                   
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td>
             
                <td style="display:inline-block">
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id}, new{ @class="btn btn-primary"}) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id}, new {@class="btn btn-primary"}) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id}, new{ @class="btn btn-danger" })
                </td>
            </tr>
        }

    </table>
</div>