@model WebApplication1.Models.media_info

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>media_info</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imdb_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imdb_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title_english)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title_english)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.title_long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title_long)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.slug)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.slug)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.runtime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.runtime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.summary)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.summary)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description_full)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description_full)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.synopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.synopsis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.yt_trailer_code)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.yt_trailer_code)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.language)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mpa_rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mpa_rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.background_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.background_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.small_cover_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.small_cover_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.medium_cover_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.medium_cover_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.large_cover_image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.large_cover_image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.torrents)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.torrents)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date_uploaded)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date_uploaded)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
